@import 'tailwindcss';
@tailwind utilities;

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

@layer utilities {
  .text-logo-gradient {
    background: linear-gradient(to right, #5E5CE6, #00B8D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .bg-red-gradient {
    background: linear-gradient(to right, #FF8A80, #FF5252);
    
  }
}
